Adafruit_BBIO==1.2.0
aenum==3.1.11
gpiod==1.5.3
greatfet==2021.2.1
hid==1.0.5
machine==0.0.1
mock==5.0.1
Pillow==9.4.0
requests==2.21.0
rpi_ws281x==4.3.0
sets==0.3.2
setuptools==40.8.0
simplejson==3.18.1
sysv_ipc==1.1.0
utime==1.1.7
